.container {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 2em;
    .valueContainer {
        display: flex;
        width: 100%;
        height: calc(100% - 1.3em);
        .kContainer {

        }
        .vContainer {
            
        }
    }
}